
<div>
  Inicio:
  <input type="date" [(ngModel)]="sDate" [value]="sDate" (ngModelChange)="sDate = $event">
  Fin <input type="date" [(ngModel)]="eDate" [value]="eDate" (ngModelChange)="eDate = $event">
  <button (click)="buscar()">Buscar</button>
</div>
<div *ngIf="reportes.length < 1; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>No hay Resultados</ng-template>
<ng-template #elseBlock>
  <table border="1">
  <tr>
    <th>Usuario</th>
    <th (click)="ordenar(fechaOrden)">Fecha</th>
    <th>Día</th>
    <th>Horario Entrada</th>
    <th>Horario Salida</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Horas trabajadas</th>

  </tr>
  <tr *ngFor="let rep of reportes" >
    <td>{{rep.usuario_id}}</td>
    <td>{{rep.fecha  | date: 'dd/MM/yyyy'}}</td>
    <td>{{rep.horario.dia}}</td>
    <td>{{rep.horario.obtenerEntrada(rep.fecha) | date: 'HH:mm'}}</td>
    <td>{{rep.horario.obtenerSalida(rep.fecha) | date: 'HH:mm'}}</td>
    <td>{{obtenerMarcacionEntrada(rep) | date: 'hh:mm'}}</td>
    <td>{{obtenerMarcacionSalida(rep) | date: 'hh:mm'}}</td>
    <td>{{rep.total_segundos_trabajados}}</td>
  </tr>
</table>
</ng-template>
