
<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Inicio:" [(ngModel)]="sDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Fin:" [(ngModel)]="eDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>


  <button (click)="buscar()">Buscar</button>
</div>
<div *ngIf="reportes.length < 1; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>No hay Resultados</ng-template>
<ng-template #elseBlock>


  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource2" matSort>
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


  <table border="1">
  <tr>
    <th>Usuario</th>
    <th (click)="ordenar(fechaOrden)">Fecha</th>
    <th>Día</th>
    <th>Horario Entrada</th>
    <th>Horario Salida</th>
    <th>Tipo</th>
    <th>Entrada</th>
    <th>Tipo</th>
    <th>Salida</th>
    <th>Horas trabajadas</th>

  </tr>
  <tr *ngFor="let rep of reportes" >
    <td>{{rep.usuario_id}}</td>
    <td>{{rep.fecha  | date: 'dd/MM/yyyy'}}</td>
    <td>{{obtenerDia(rep)}}</td>
    <td>{{rep.horario.obtenerEntrada(rep.fecha) | date: 'HH:mm'}}</td>
    <td>{{rep.horario.obtenerSalida(rep.fecha) | date: 'HH:mm'}}</td>
    <td>{{obtenerTipoMarcacionEntrada(rep)}}</td>
    <td>{{obtenerMarcacionEntrada(rep) | date: 'HH:mm'}}</td>
    <td>{{obtenerTipoMarcacionSalida(rep)}}</td>
    <td>{{obtenerMarcacionSalida(rep) | date: 'HH:mm'}}</td>
    <td>{{obtenerHorasTrabajadas(rep)}} hs</td>
  </tr>
</table>
</ng-template>
