<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Administración de Relojes</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div>
  <span> RELOJES</span>
  <button mat-raised-button color="primary" routerLink="/editar-dispositivo">+ Nuevo Reloj</button>
</div>
<mat-list>
  <mat-list-item *ngFor="let item of dispositivos" (click)="editarDispositivo(item)">
    <mat-icon mat-list-icon>access_time</mat-icon>
    <h4 mat-line>{{item.nombre}}</h4>
    <p mat-line>{{item.descripcion}}</p>
  </mat-list-item>
</mat-list>
